.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(38, 63, 63);
  height: 50px;
  align-items: center;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 0px;
  font-size: 20px;
}
#logo {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
