body {
  margin: 0px;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

table th {
  background-color: sandybrown;
}

table th,
table td {
  border: 1px solid black;
  padding: 10px;
}

h1 {
  text-align: center;
}

.sort {
  display: flex;
  justify-content: center;
  gap: 20px;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
}
/* Styling for navbar links */
.Navbar {
  width: 100%;
  background-color: teal;
  position: sticky;
  top: 0px;
  left: 10px;
  font-size: 30px;
  padding: 10px;
}
#links a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
